<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Junyi Student Retention Predictor</title>
  <meta name="description" content="Student Retention Predictor">
  <meta name="author" content="Brandon Lindsey">
  <script src="{{ url_for('static', filename='brython.js')}}"></script>
  <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>
</head>

<body onload="brython()">
   
    <h1>Junyi Student Retention Predictor</h1>
    <p>This app will give the probability that a student will use the site in the next month!</p>
    <p>Please enter some information about the student below!</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <span>Correct:</span> <input id="a"></input>
        <span>Time Taken:</span> <input id="b"></input>
        <span>Attempts:</span> <input id="c"></input>
        <span>Days Since Last Activity:</span> <input id="d"></input>
    </div>

    <div>
        <button type="button" id="solve">Predict!</button>
    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p> There is  <span id="solution"></span> % chance that this student will be there next month. </p>
    


<script type="text/python">

from browser import document, ajax
import json

def get_x_vals():
    a = document['a'].value
    b = document['b'].value
    c = document['c'].value
    d = document['d'].value
    
    return {'a': float(a),
            'b': float(b),
            'c': float(c),
            'd': float(d)}

def display_solutions(req):
    result = json.loads(req.text)
    document['solution'].html = f"{result['prediction']}"


def send_x_vals_json(vals):
    req = ajax.Ajax()
    req.bind('complete', display_solutions)
    req.open('POST',
                '/solve',
                True)
    req.set_header('Content-Type', 'application/json')
    req.send(json.dumps(vals))

def click(event):
    vals  = get_x_vals()
    send_x_vals_json(vals)

document['solve'].bind('click', click)

</script>

</body>
</html>
