<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Junyi Student Retention Predictor</title>
  <meta name="description" content="Student Retention Predictor">
  <meta name="author" content="Brandon Lindsey">

</head>

<body>

    <h1>Junyi Student Retetion Predictor</h1>
    <p>This app will give the probability that a student will use the site in the next month!</p>
    <p>Please enter some information about the student below!</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <span>a:</span> <input id="a"></input>
        <span>b:</span> <input id="b"></input>
        <span>c:</span> <input id="c"></input>
        <span>d:</span> <input id="d"></input>
    </div>

    <div>
        <button type="button">Solve!</button>
    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p> The solution is: <span id="solution"></span> </p>
    </div>

</body>
</html>


<script type="text/python">

from browser import document, ajax, console
import json

def get_x_vals():
    a = document['a'].value
    b = document['b'].value
    c = document['c'].value
    d = document['d'].value
    return {'a': float(a),
            'b': float(b),
            'c': float(c)
            'd': float(d)}

def send_x_vals_json():
    req = ajax.Ajax()
    req.bind('complete', console.log)
    req.open('POST',
                '/solve',
                True)
    req.set_header('Content-Type', 'application/json')
    req.send(json.dumps(coefficients))


</script>

</body>
</html>
